.rodape {
    display: flex;
    font-family: var(--roboto);
    padding: 1em;
    background: var(--cinza-clarinho);
    align-items: center;
    justify-content: space-between;
}

.rodape-texto {
    color: var(--preto);
    font-size: 32px;
    padding: 1rem;
    margin-left: auto;
}

.rodape-texto-contato {
    color: var(--branco);
    font-size: 32px;
}

.rodape-divisao {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-left: auto;
}

.rodape-imagem {
    transition: .3s;
    background-color: var(--vermelho);
    padding: 0.5em 0.4rem;
    margin: .5rem;
    border-radius: 7px;
}

.rodape-imagem:hover {
    opacity: 0.85;
    background-color: #aa0404;
    padding: .6em .57em;
    transition: .3s;
}